* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body{
    background-image: url(https://img.freepik.com/foto-gratis/superficie-textura-madera-fondo-madera-teca_41471-6334.jpg?size=626&ext=jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80vh;
    margin: 0 auto;
}

header {
    background-color: yellow;
    height: 200px;
}
